<div class="container">
  <h2>let's get ready to rumble</h2><input type="button" value="save votes" (click)="saveVotes()">
  <div class="row">
    <div class="col">
      <h3>Groups</h3>
      <div class="container">
        <div class="row" *ngFor="let group of groups">
          <h4 *ngIf="getGroupItems(group.id).length > 0" (blur)="groupNameChange(group, $event.target.innerHTML)" contenteditable="true">{{group.name}}</h4>
          <div class="container">
            <div class="row" *ngFor="let groupItem of getGroupItems(group.id)">
              {{groupItem.text}}
              <input type="button" (click)="kickFromGroup(groupItem)" value="kick" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h3>Ungrouped Items</h3>
      <div class="container">
        <div class="row" *ngFor="let item of getUngroupedItems()">
          <div class="col">
            {{item.area}}
          </div>
          <div class="col">
            {{item.text}}
          </div>
          <div class="col">
            <select (change)="setGroup(item, $event.target.value)">
              <option></option>
              <option *ngFor="let group of groups" value="{{group.id}}">{{group.name}}</option>
              <option value="-1">New Group</option>
            </select>
          </div>
          <div class="col" >
            <input *ngIf="!item.voteCount && availableVotes > 0" type="button" value="vote" (click)="addVote(item)" />
            <input *ngIf="item.voteCount && item.voteCount > 0" type="button" value="-" (click)="removeVote(item)" />
            <span *ngIf="item.voteCount">{{item.voteCount}}</span>
            <input *ngIf="item.voteCount && availableVotes > 0" type="button" value="+" (click)="addVote(item)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
