/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container {
  border: 1px dotted black;
  padding: 1px;
  margin: 1px;
}

.row {
  border: 1px dashed red;
  padding: 1px;
  margin: 1px;
}

.col {
  border: 1px solid blue;
  padding: 1px;
  margin: 1px;
}
