<h1>Retrospective Setup</h1>

<form [formGroup]="setupForm" (ngSubmit)="updateRetroSettings()" >
  <h2>Areas</h2>
  <div formArrayName="areas" *ngFor="let area of getAreas(); index as i">
    <input placeholder="Area Name" value="{{area.value}}" formControlName="{{i}}" />
    <input type="button" (click)="removeArea(i)" value="x" />
  </div>
  <input type="button" (click)="newArea()" value="Add new area">
  <h2>Max Votes</h2>
  <input type="number" formControlName="votes" />

  <input type="submit" />
</form>
