<div class="container">
  <h2>let's get ready to rumble</h2>
  <div class="row">
    <div class="col">
      <h3>Groups</h3>
      <div [formGroup]="groupEdit">
        <div formArrayName="groups" *ngFor="let group of groupEdit.controls.groups.controls; index as i">
          <input type="text" placeholder="Group Name" (blur)="onGroupNameEdit(i)" formControlName="{{i}}" />
          <input type="button" value="x" (click)="removeGroup(i)" />
        </div>
        <input type="button" (click)="newGroup()" formControlName="addNew" value="{{groupEdit.controls.addNew.value}}" />
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col" *ngFor="let area of areas">
            {{area}}
          </div>
        </div>
        <div class="row">
          <div class="col" *ngFor="let area of areas">
            <div class="container">
              <div class="row" *ngFor="let areaItem of retroBoard.get(area)">
                <p>{{areaItem.text}} - {{areaItem.id}}</p>
                <div *ngFor="let group of groupEdit.controls.groups.controls; index as i">
                  <input type="button" (click)="setGroup(areaItem.id, i)" value="{{group.value}}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
