  <div class="form-group add-new-retro-item">
    <form #newItemForm="ngForm" (submit)="addItem(newItemForm)">
      <!--<div *ngFor="let area of areas">
        <input type="radio" name="area" value="{{area}}" id="{{area}}" ngModel required>
        <label for="{{area}}">{{area}}</label>
      </div>-->
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn" *ngFor="let area of areas; index as i" [ngClass]="i == currentArea ? 'btn-primary active' : 'btn-secondary'">
          <input type="radio" name="options" id="option1" autocomplete="off" (click)="currentArea = i">{{area}}
        </label>
      </div>
      <textarea class="form-control" name="text" ngModel required></textarea>
      <input class="btn btn-primary btn-lg btn-block" type="submit" />
    </form>
  </div>
  <div class="list-group">
    <div class="list-group-item list-group-item-action" *ngFor="let item of composerService.drafts">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md">
            <span class="badge badge-info">{{item.area}}</span>
            {{item.text}}
          </div>
          <div class="col-8 col-md-auto">
            <button class="btn btn-block btn-success" type="button" (click)="publishItem(item)">Publish</button>
          </div>
          <div class="col-4 col-md-auto">
            <button class="btn btn-block btn-danger" type="button" (click)="removeItem(item)">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
