<span *ngIf="processRetroItems()"></span>
<div class="row">
  <div class="col" *ngFor="let area of areas">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <h4 class="card-header">{{area}}</h4>
        <div class="list-group list-group-flush">
          <div class="list-group-item list-group-item-action" *ngFor="let areaItem of retroBoard.get(area)">
            {{areaItem.text}}
            <footer *ngIf="areaItem.user?.length > 0" class="blockquote-footer text-right">
              <cite>
                {{areaItem.user}}
              </cite>
            </footer>
          </div>
        </div>
    </div>
  </div>
</div>
